---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fale com outros usuários" />

<section style="background-color: rgb(199, 249, 196)">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-md-12">
  
          <div class="card" id="chat3" style="border-radius: 15px;">
            <div class="card-body">
  
              <div class="row">
                <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
  
                  <div class="p-3">
  
                    <div class="input-group rounded mb-3">
                      <input type="search" class="form-control rounded" placeholder="Pesquisar" aria-label="Search"
                        aria-describedby="search-addon" />
                      <span class="input-group-text border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
  
                    <div data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                      <ul class="list-unstyled mb-0">
                        <li class="p-2 border-bottom">
                          <a href="#!" class="d-flex justify-content-between">
                            <div class="d-flex flex-row">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                  alt="avatar" class="d-flex align-self-center me-3" width="60">
                                <span class="badge bg-success badge-dot"></span>
                              </div>
                              <div class="pt-1">
                                <p class="fw-bold mb-0">Orgânicos da Maria</p>
                                <p class="small text-muted">Sim, claro, podemos fazer entrega...</p>
                              </div>
                            </div>
                            <div class="pt-1">
                              <p class="small text-muted mb-1">Agora</p>
                              <span class="badge bg-danger rounded-pill float-end">1</span>
                            </div>
                          </a>
                        </li>
                        <li class="p-2 border-bottom">
                          <a href="#!" class="d-flex justify-content-between">
                            <div class="d-flex flex-row">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                  alt="avatar" class="d-flex align-self-center me-3" width="60">
                                <span class="badge bg-warning badge-dot"></span>
                              </div>
                              <div class="pt-1">
                                <p class="fw-bold mb-0">HealthyLife</p>
                                <p class="small text-muted">Lorem ipsum dolor sit.</p>
                              </div>
                            </div>
                            <div class="pt-1">
                              <p class="small text-muted mb-1">5 mins atrás</p>
                              <span class="badge bg-danger rounded-pill float-end">2</span>
                            </div>
                          </a>
                        </li>
                        <li class="p-2 border-bottom">
                          <a href="#!" class="d-flex justify-content-between">
                            <div class="d-flex flex-row">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                  alt="avatar" class="d-flex align-self-center me-3" width="60">
                                <span class="badge bg-success badge-dot"></span>
                              </div>
                              <div class="pt-1">
                                <p class="fw-bold mb-0">KiFrutas</p>
                                <p class="small text-muted">Lorem ipsum dolor sit.</p>
                              </div>
                            </div>
                            <div class="pt-1">
                              <p class="small text-muted mb-1">Ontem</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
  
                  </div>
  
                </div>
  
                <div class="col-md-6 col-lg-7 col-xl-8">
  
                  <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true"
                    style="position: relative; height: 400px">
  
  
                    <div class="d-flex flex-row justify-content-end">
                      <div>
                        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Bom dia! Dei uma olhada nos seus produtos e tive interesse, posso tirar umas dúvidas?</p>
                        <p class="small me-3 mb-3 rounded-3 text-muted">09:00 | Jun 13</p>
                      </div>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                    </div>
  
                    <div class="d-flex flex-row justify-content-start">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                      <div>
                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Olá, claro.
                        </p>
                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">09:40 | Jun 13</p>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row justify-content-end">
                      <div>
                        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Vocês têm como fazer entrega por quilo ao invés de unidade?</p>
                        <p class="small me-3 mb-3 rounded-3 text-muted">09:50| Jun 13</p>
                      </div>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                    </div>
  
                    <div class="d-flex flex-row justify-content-start">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                      <div>
                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Sim, claro, podemos fazer entrega por quilo dependendo da disponibilidade e do transporte. Qual produto você tem interesse?</p>
                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">10:15 | Jun 13</p>
                      </div>
                    </div>
  
  
                  </div>
  
                  <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                      alt="avatar 3" style="width: 40px; height: 100%;">
                    <input type="text" class="form-control form-control-lg" id="exampleFormControlInput2"
                      placeholder="Digite sua mensagem aqui">
                  </div>
                
  
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>

  <style>
        #chat3 .form-control {
        border-color: transparent;
        }

        #chat3 .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
        }

        .badge-dot {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-left: 2.9rem;
        margin-top: -.75rem;
        }

  </style>
