---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Busca de produtos">
	<div class="card">
		<div class="card-body">
			<div class="mb-3">
				<label for="nome_produto" class="form-label">Nome do produto</label>
				<input type="text" class="form-control" id="nome_produto" placeholder="Laranja..." />
			</div>
		</div>
	</div>
	<br />
	<div class="card">
		<div class="card-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Preço</th>
						<th>Data de coleta</th>
						<th>Data de inclusão</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Laranja</td>
						<td>R$ 20,00 / Kg</td>
						<td>20/05/2023</td>
						<td>23/05/2023</td>
						<td>34 Un.</td>
					</tr>
					<tr>
						<td>Pêssego</td>
						<td>R$ 2,00 / Un.</td>
						<td>22/05/2023</td>
						<td>23/05/2023</td>
						<td>45 Un.</td>
					</tr>
					<tr>
						<td>Laranja</td>
						<td>R$ 20,00 / Kg</td>
						<td>20/05/2023</td>
						<td>23/05/2023</td>
						<td>34 Un.</td>
					</tr>
					<tr>
						<td>Pêssego</td>
						<td>R$ 2,00 / Un.</td>
						<td>22/05/2023</td>
						<td>23/05/2023</td>
						<td>45 Un.</td>
					</tr>
					<tr>
						<td>Laranja</td>
						<td>R$ 20,00 / Kg</td>
						<td>20/05/2023</td>
						<td>23/05/2023</td>
						<td>34 Un.</td>
					</tr>
					<tr>
						<td>Pêssego</td>
						<td>R$ 2,00 / Un.</td>
						<td>22/05/2023</td>
						<td>23/05/2023</td>
						<td>45 Un.</td>
					</tr>
					<tr>
						<td>Laranja</td>
						<td>R$ 20,00 / Kg</td>
						<td>20/05/2023</td>
						<td>23/05/2023</td>
						<td>34 Un.</td>
					</tr>
					<tr>
						<td>Pêssego</td>
						<td>R$ 2,00 / Un.</td>
						<td>22/05/2023</td>
						<td>23/05/2023</td>
						<td>45 Un.</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>Nome</th>
						<th>Preço</th>
						<th>Data de coleta</th>
						<th>Data de inclusão</th>
						<th>Quantidade</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</Layout>

<style is:inline>
	main {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	div.card {
		width: 100%;
		max-width: 1200px;
	}
</style>
