<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Cultivando consciência</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="/">Busca de produtos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/cadastro_produto">Cadastro de produtos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/comms_vendedores">Chat com os vendedores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/cadastro_usuario">Cadastro de usuários</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/hist_transacoes">Histórico de transações</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<style>
	nav {
		background-color: #365542;
	}
</style>
